@keyframes example {
    0%{background-color: grey;
    border-color: black;
}
    50% {background-color: whitesmoke;
        border-color: gray;
    }
    85%{background-color: black;
        border-color: white;
    }
    0%{background-color: grey;
        border-color: black;
    }
    
}
body{
    /* background-image: url(https://sc04.alicdn.com/kf/H392b58fe10ad43299f5a9455d586e566k/244373587/H392b58fe10ad43299f5a9455d586e566k.jpg); */
    /* background-image: url(https://sc04.alicdn.com/kf/H1c821d79cfd14f28b1f0fe880394622cy/244373587/H1c821d79cfd14f28b1f0fe880394622cy.jpg); */
    background-color: gray;
    /* background-color: red; */
    animation-name: example;
    animation-duration: 20s ;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    font-family: 'Delicious Handrawn', cursive;
}
li{
    display: inline;
    list-style-type: none;
    text-align: center;

}
a:hover{
    text-decoration: underline;
    text-decoration-color: aqua;
    transform: rotateY(180deg);
    /* background-color: darkgrey; */
    border:none;
    border-radius: 25px;
}
.container{
    padding-left: 25px; ;
    background-color: grey;
    color :black;
    height:50px;
    margin: 0px;
    border: 2px solid black;
    border-radius: 0px 20px 0px 20px;
    font-weight: bold;
    width: 95%;
    margin: 10px 0px 0px 10px;
    
}
.container{
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
}
a{
    border: none;
    /* background-color:white; */
    padding-right: 30px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: large;
    font-weight: bold;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
#title{
    padding-right: 51%;
    font-size: 35px;
    color:red;
}


/* cards or main data display */
#cm{width: 100%;
    position: absolute;
    top:25%;
    /* left:0%;
    right:0%; */
    column-width: 300px;
    column-count:4;
    column-gap: 3%;
}
td{
    padding: 21px;
    display: inline;

}
img{
    width:260px;
    height: 260px;
    text-align: center;
    /* padding: 15px; */
    /* border: 10px solid black; */
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border:10px solid rgb(0, 0, 0);

    border-color: black;
    /* background-color: red; */
    animation-name: example;
    animation-duration: 20s ;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    /* font-family: 'Delicious Handrawn', cursive; */

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: grey;
    color: white;
    transform: rotateY(180deg);
}
